---

---

<div class="cursor-container">
    <div id="cursor" class="cursor"></div>
    <p id="copied-success" class="email-message">Copied to clipboard!</p>
    <p id="copy-failed" class="email-message">Oops, failed to copy!</p>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
    
    .cursor-container{
        position: fixed;
        z-index: 2000;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }

    .email-message{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: .8rem;
        position: absolute;
        margin: 16px 0px 0px 16px;
        color:rgba(167, 199, 255, 1);
        width: 80px;
        opacity: 0;
        transition: all .5s ease;
    }

    .cursor{
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        min-width: 24px;
        max-width: 24px;
        min-height: 24px;
        max-height: 24px;
        border-radius: 100%;
        background-color: rgba(58, 130, 255, 1);
        transition: all .4s;
    }
</style>

<script>
    const cursor = document.getElementById('cursor');
    const successMessage = document.getElementById('copied-success')
    const failedMessage = document.getElementById('copy-failed');

    document.addEventListener("mousemove", (event) => {
        const mousePosX = event.clientX;
        const mousePosY = event.clientY;
        
    cursor.animate({
        left: mousePosX +'px',
        top: mousePosY + 'px'
    }, {duration: 300, fill: "forwards"});

    successMessage.animate({
        left: mousePosX +'px',
        top: mousePosY + 'px'
    }, {duration: 300, fill: "forwards"});

    failedMessage.animate({
        left: mousePosX +'px',
        top: mousePosY + 'px'
    }, {duration: 300, fill: "forwards"});
    });

    const allButton = document.getElementsByTagName('button');
    const allHyperLink = document.getElementsByTagName('a');
    const footerElement = document.getElementsByTagName('footer');

    for (var i = 0 ; i < allButton.length ; i++){
        allButton[i].addEventListener("mouseover", function(){
            cursor.style.transform = "scale(.3)";
            cursor.style.backgroundColor = 'rgba(38, 40, 45, 1)';
        });
    };

    for (var i = 0 ; i < allButton.length ; i++){
        allButton[i].addEventListener("mouseout", function(){
            cursor.style.transform = "scale(1)";
            cursor.style.backgroundColor = 'rgba(58, 130, 255, 1)';
        });
    };

    for (var i = 0 ; i < allHyperLink.length ; i++){
        allHyperLink[i].addEventListener("mouseover", function(){
            cursor.style.transform = "scale(.3)";
            cursor.style.backgroundColor = 'rgba(38, 40, 45, 1)';
        })
    };

    for (var i = 1 ; i < allHyperLink.length ; i++){
        allHyperLink[i].addEventListener("mouseout", function(){
            cursor.style.transform = "scale(1)";
            cursor.style.backgroundColor = 'rgba(58, 130, 255, 1)';
        })
    };

    for (var i = 0 ; i < footerElement.length ; i++){
        footerElement[i].addEventListener("mouseover", function(){
            cursor.style.backgroundColor = 'rgba(237, 244, 255, 1)';
        })
    };

    for (var i = 0 ; i < footerElement.length ; i++){
        footerElement[i].addEventListener("mouseout", function(){
            cursor.style.backgroundColor = 'rgba(58, 130, 255, 1)';
        })
    };
</script>