---
import mailIcon from '../assets/icons/Mail.svg';
import githubIcon from '../assets/icons/Github.svg';
import linkedinIcon from '../assets/icons/Linkedin.svg';
---

<nav class="light-mode-nav">
    <a class="nav-logo" href="/" class="logo">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.0769 5.65385H22.1538C22.1538 3.36314 20.2907 1.5 18 1.5H11.0769C10.3121 1.5 9.69231 2.11975 9.69231 2.88462C9.69231 3.64948 10.3121 4.26923 11.0769 4.26923H18C18.7638 4.26923 19.3846 4.89009 19.3846 5.65385H10.5602H6.92308C3.10597 5.65385 0 8.75982 0 12.5769V23.6538C0 27.471 3.10597 30.5769 6.92308 30.5769H9.96923V33.3462C9.96923 34.111 10.589 34.7308 11.3538 34.7308C12.1187 34.7308 12.7385 34.111 12.7385 33.3462V30.5769H23.2615V33.3462C23.2615 34.111 23.8813 34.7308 24.6462 34.7308C25.411 34.7308 26.0308 34.111 26.0308 33.3462V30.5769H29.0769C32.894 30.5769 36 27.471 36 23.6538V12.5769C36 8.75982 32.894 5.65385 29.0769 5.65385ZM33.2308 23.6538C33.2308 25.9446 31.3676 27.8077 29.0769 27.8077H6.92308C4.63237 27.8077 2.76923 25.9446 2.76923 23.6538V12.5769C2.76923 10.2862 4.63237 8.42308 6.92308 8.42308H10.5602H22.1538H29.0769C31.3676 8.42308 33.2308 10.2862 33.2308 12.5769V23.6538Z" fill="#3A82FF"/>
            <path d="M5.54522 3.02086C5.54965 3.06572 5.55685 3.11114 5.56571 3.15545C5.57457 3.1992 5.58565 3.24351 5.59894 3.28671C5.61224 3.32991 5.62719 3.37255 5.64436 3.41409C5.66153 3.45618 5.68147 3.49717 5.70251 3.53705C5.72356 3.57692 5.74682 3.61569 5.77174 3.65335C5.79667 3.69102 5.8238 3.72757 5.8526 3.76246C5.867 3.78018 5.88196 3.79735 5.89691 3.81452C5.91187 3.83114 5.92793 3.84775 5.94399 3.86382C5.96005 3.87988 5.97667 3.89538 5.99328 3.91089C6.01045 3.92585 6.02762 3.9408 6.04534 3.9552C6.08024 3.984 6.11679 4.01058 6.15445 4.03606C6.19211 4.06098 6.23088 4.08425 6.27076 4.10529C6.31064 4.12634 6.35162 4.14628 6.39371 4.16345C6.43525 4.18062 6.4779 4.19612 6.5211 4.20886C6.5643 4.22215 6.60861 4.23323 6.65236 4.24209C6.69667 4.25095 6.74208 4.25815 6.78694 4.26258C6.80965 4.2648 6.83236 4.26646 6.85451 4.26757C6.87722 4.26868 6.90048 4.26923 6.92319 4.26923C6.9459 4.26923 6.96861 4.26868 6.99131 4.26757C7.01402 4.26646 7.03673 4.2648 7.05944 4.26258C7.10374 4.25815 7.14916 4.25095 7.19347 4.24209C7.23777 4.23323 7.28208 4.22215 7.32528 4.20886C7.36793 4.19612 7.41113 4.18062 7.45267 4.16345C7.4942 4.14628 7.53519 4.12634 7.57507 4.10529C7.61494 4.08425 7.65427 4.06098 7.69193 4.03606C7.72959 4.01058 7.76614 3.984 7.80104 3.9552C7.81876 3.9408 7.83593 3.92585 7.85254 3.91089C7.86971 3.89538 7.88633 3.87988 7.90184 3.86382C7.9179 3.84775 7.93396 3.83114 7.94891 3.81452C7.96442 3.79735 7.97937 3.78018 7.99377 3.76246C8.02202 3.72757 8.04916 3.69102 8.07408 3.65335C8.099 3.61569 8.12227 3.57692 8.14387 3.53705C8.16491 3.49717 8.1843 3.45618 8.20147 3.41409C8.21864 3.37255 8.23414 3.32991 8.24744 3.28671C8.26073 3.24351 8.2718 3.1992 8.28067 3.15545C8.28953 3.11114 8.29617 3.06572 8.30116 3.02086C8.30337 2.99815 8.30504 2.97545 8.30614 2.95274C8.30725 2.93058 8.30781 2.90732 8.30781 2.88462C8.30781 2.86191 8.30725 2.8392 8.30614 2.81649C8.30504 2.79378 8.30337 2.77108 8.30116 2.74837C8.29617 2.70351 8.28953 2.65865 8.28067 2.61434C8.2718 2.57003 8.26073 2.52572 8.24744 2.48252C8.23414 2.43988 8.21864 2.39668 8.20147 2.35514C8.1843 2.3136 8.16491 2.27262 8.14387 2.23274C8.12227 2.19286 8.099 2.15354 8.07408 2.11588C8.04916 2.07877 8.02202 2.04166 7.99377 2.00677C7.97937 1.98905 7.96442 1.97188 7.94891 1.95526C7.93396 1.93809 7.9179 1.92148 7.90184 1.90542C7.88633 1.88991 7.86971 1.87385 7.85254 1.85834C7.83593 1.84338 7.81876 1.82843 7.80104 1.81403C7.76614 1.78578 7.72959 1.75865 7.69193 1.73372C7.65427 1.7088 7.61494 1.68554 7.57507 1.66394C7.53519 1.64289 7.4942 1.62351 7.45267 1.60634C7.41113 1.58917 7.36793 1.57366 7.32528 1.56037C7.28208 1.54763 7.23777 1.536 7.19347 1.52714C7.14916 1.51828 7.10374 1.51163 7.05944 1.5072C7.03673 1.50498 7.01402 1.50277 6.99131 1.50166C6.9459 1.49945 6.89993 1.49945 6.85451 1.50166C6.83236 1.50277 6.80965 1.50498 6.78694 1.5072C6.74208 1.51163 6.69667 1.51828 6.65236 1.52714C6.60861 1.536 6.5643 1.54763 6.5211 1.56037C6.4779 1.57366 6.43525 1.58917 6.39316 1.60634C6.35162 1.62351 6.31064 1.64289 6.27076 1.66394C6.23088 1.68554 6.19211 1.7088 6.15445 1.73372C6.11679 1.75865 6.07968 1.78578 6.04479 1.81403C6.02762 1.82843 6.0099 1.84338 5.99328 1.85834C5.97667 1.87385 5.96005 1.88991 5.94399 1.90542C5.92793 1.92148 5.91187 1.93809 5.89691 1.95526C5.88196 1.97188 5.867 1.98905 5.8526 2.00677C5.8238 2.04166 5.79667 2.07877 5.77174 2.11588C5.74682 2.15354 5.72356 2.19286 5.70251 2.23274C5.68147 2.27262 5.66153 2.3136 5.64436 2.35514C5.62719 2.39668 5.61224 2.43988 5.59894 2.48252C5.58565 2.52572 5.57457 2.57003 5.56571 2.61434C5.55685 2.65865 5.54965 2.70351 5.54522 2.74837C5.54301 2.77108 5.54134 2.79378 5.54024 2.81649C5.53913 2.8392 5.53857 2.86191 5.53857 2.88462C5.53857 2.90732 5.53913 2.93058 5.54024 2.95274C5.54134 2.97545 5.54301 2.99815 5.54522 3.02086Z" fill="#3A82FF"/>
            <path d="M10.6587 13.8131C10.1182 13.2726 9.24145 13.2726 8.70034 13.8131C8.15978 14.3537 8.15978 15.2304 8.70034 15.7715L11.0442 18.1154L8.70034 20.4593C8.15978 20.9998 8.15978 21.8766 8.70034 22.4177C8.97061 22.688 9.32508 22.8231 9.67954 22.8231C10.034 22.8231 10.3885 22.688 10.6587 22.4177L13.9818 19.0946C14.5224 18.5541 14.5224 17.6773 13.9818 17.1362L10.6587 13.8131Z" fill="#3A82FF"/>
            <path d="M26.1076 13.4716C25.3782 13.2417 24.6006 13.6471 24.3713 14.3766L22.2794 21.0227C22.0496 21.7521 22.455 22.5297 23.1844 22.759C23.3229 22.8028 23.463 22.8233 23.6004 22.8233C24.1891 22.8233 24.7346 22.445 24.9207 21.854L27.0126 15.2079C27.2425 14.479 26.837 13.7014 26.1076 13.4716Z" fill="#3A82FF"/>
        </svg>
    </a>
    <div class="nav-menu">
        <button id="menu-button" class="nav-menu-button">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="menu-icon" class="menu-icon" fill-rule="evenodd" clip-rule="evenodd" d="M29.1429 10.7143H10.2857C9.77143 10.7143 9.42857 10.3714 9.42857 9.85714C9.42857 9.34286 9.77143 9 10.2857 9H29.1429C29.6571 9 30 9.34286 30 9.85714C30 10.3714 29.6571 10.7143 29.1429 10.7143ZM6.85714 16.7143H29.1429C29.6571 16.7143 30 17.0571 30 17.5714C30 18.0857 29.6571 18.4286 29.1429 18.4286H6.85714C6.34286 18.4286 6 18.0857 6 17.5714C6 17.0571 6.34286 16.7143 6.85714 16.7143ZM29.1429 24.4286H6.85714C6.34286 24.4286 6 24.7714 6 25.2857C6 25.8 6.34286 26.1429 6.85714 26.1429H29.1429C29.6571 26.1429 30 25.8 30 25.2857C30 24.7714 29.6571 24.4286 29.1429 24.4286ZM6.85714 10.7143C7.33053 10.7143 7.71429 10.3306 7.71429 9.85717C7.71429 9.38379 7.33053 9.00003 6.85714 9.00003C6.38376 9.00003 6 9.38379 6 9.85717C6 10.3306 6.38376 10.7143 6.85714 10.7143Z" fill="white"/>
            </svg>                
        </button>
        <div id="open-menu" class="open-menu">
            <div class="menu-button-block"></div>
            <div class="page-links">
                <a id="home-link" class="nav-menu-link" href="/">
                    HOME
                    <div id="home-underline" class="link-underline"></div>
                </a>
                <a id="about-link" class="nav-menu-link" href="/about">
                    ABOUT
                    <div id="about-underline" class="link-underline"></div>
                </a>
            </div>
            <div class="social-links">
                <button><img src={mailIcon.src} alt="" class="social-link"></button>
                <a target="_blank" href=""><img src={githubIcon.src} alt="" class="social-link"></a>
                <a target="_blank" href=""><img src={linkedinIcon.src} alt="" class="social-link"></a>
            </div>
        </div>
    </div>
</nav>

<script>
    const menuButton = document.getElementById('menu-button');
    const navMenu = document.getElementById('open-menu');
    const menuIcon = document.getElementById('menu-icon');
    const homeLink = document.getElementById('home-link');
    const homeUnderline = document.getElementById('home-underline');
    const aboutLink = document.getElementById('about-link');
    const aboutUnderline = document.getElementById('about-underline');

    // Menu Toggle
    function toggleMenu(): void{
        const styleCheck = navMenu.style.opacity;
        if(styleCheck == '1'){
            return closeMenu();
        }
        return openMenu();
    };

    function closeMenu(){
        navMenu.style.opacity = '0';
        navMenu.style.transform = 'scale(.8)';
        menuButton.style.backgroundColor = 'rgba(38, 40, 45, 1)';
        menuIcon.style.fill= 'rgba(237, 244, 255, 1)';
    };

    function openMenu(){
        navMenu.style.opacity = '1';
        navMenu.style.transform = 'scale(1)';
        menuButton.style.backgroundColor = 'rgba(237, 244, 255, 1)';
        menuIcon.style.fill= 'rgba(38, 40, 45, 1)';
    };

    menuButton.addEventListener('click', toggleMenu);

    // Underline Hover Animation
    homeLink.addEventListener('mouseover', () =>{
        homeUnderline.style.transform = 'scaleX(1)';
    });

    homeLink.addEventListener('mouseout', () =>{
        homeUnderline.style.transform = 'scaleX(0)';
    });

    aboutLink.addEventListener('mouseover', () =>{
        aboutUnderline.style.transform = 'scaleX(1)';
    });

    aboutLink.addEventListener('mouseout', () =>{
        aboutUnderline.style.transform = 'scaleX(0)';
    });
</script>