---
import mailIcon from '../assets/icons/Mail.svg';
import githubIcon from '../assets/icons/Github.svg';
import linkedinIcon from '../assets/icons/Linkedin.svg';
---

<nav class="light-mode">
    <a id="logo-link" class="nav-logo">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.56571 2.65489C5.55685 2.61058 5.55021 2.56517 5.54522 2.52086C5.543 2.49815 5.54134 2.47545 5.54024 2.45274C5.53913 2.43003 5.53857 2.40677 5.53857 2.38462C5.53857 2.36191 5.53913 2.33865 5.54024 2.31594C5.54134 2.29378 5.543 2.27052 5.54522 2.24837C5.55021 2.20351 5.55685 2.15809 5.56571 2.11378C5.57457 2.07003 5.58565 2.02572 5.59894 1.98252C5.61224 1.93932 5.62719 1.89668 5.64491 1.85458C5.66208 1.81305 5.68147 1.77206 5.70251 1.73218C5.72356 1.69231 5.74682 1.65298 5.77174 1.61588C5.79722 1.57822 5.82436 1.54111 5.8526 1.50622C5.867 1.48905 5.88196 1.47132 5.89691 1.45471C5.91242 1.43809 5.92793 1.42148 5.94399 1.40542C5.96005 1.38935 5.97667 1.37329 5.99384 1.35834C6.01045 1.34338 6.02762 1.32843 6.04534 1.31403C6.08024 1.28523 6.11679 1.25809 6.15445 1.23317C6.19211 1.20825 6.23144 1.18498 6.27076 1.16394C6.31064 1.14234 6.35217 1.12295 6.39371 1.10578C6.43525 1.08862 6.4779 1.07311 6.5211 1.06037C6.5643 1.04708 6.6086 1.036 6.65236 1.02714C6.69722 1.01772 6.74208 1.01108 6.78694 1.00665C6.80965 1.00443 6.83236 1.00277 6.85507 1.00166C6.90048 0.999446 6.9459 0.999446 6.99131 1.00166C7.01402 1.00277 7.03673 1.00443 7.05944 1.00665C7.1043 1.01108 7.14916 1.01772 7.19402 1.02714C7.23777 1.036 7.28208 1.04708 7.32528 1.06037C7.36848 1.07311 7.41113 1.08862 7.45267 1.10578C7.4942 1.12295 7.53574 1.14234 7.57507 1.16394C7.61494 1.18498 7.65427 1.20825 7.69193 1.23317C7.72959 1.25809 7.76614 1.28523 7.80104 1.31403C7.81874 1.32842 7.8359 1.34336 7.85306 1.3583L7.8531 1.35834C7.86971 1.37329 7.88633 1.38935 7.90239 1.40542C7.91845 1.42148 7.93396 1.43809 7.94947 1.45471C7.96442 1.47132 7.97937 1.48905 7.99377 1.50622C8.02202 1.54111 8.04916 1.57822 8.07464 1.61588C8.09956 1.65298 8.12282 1.69231 8.14387 1.73218C8.16491 1.77206 8.1843 1.81305 8.20147 1.85458C8.21919 1.89668 8.23414 1.93932 8.24744 1.98252C8.26073 2.02572 8.2718 2.07003 8.28067 2.11378C8.28953 2.15809 8.29617 2.20351 8.30116 2.24837C8.30337 2.27052 8.30504 2.29378 8.30614 2.31594C8.30725 2.33865 8.30781 2.36191 8.30781 2.38462C8.30781 2.40677 8.30725 2.43003 8.30614 2.45274C8.30504 2.47545 8.30337 2.49815 8.30116 2.52086C8.29617 2.56517 8.28953 2.61058 8.28067 2.65489C8.2718 2.6992 8.26073 2.74351 8.24744 2.78671C8.23414 2.82935 8.21919 2.87255 8.20147 2.91409C8.1843 2.95563 8.16491 2.99662 8.14387 3.03649C8.12282 3.07637 8.09956 3.11569 8.07464 3.1528C8.04916 3.19046 8.02202 3.22757 7.99377 3.26246C7.97937 3.28018 7.96442 3.29735 7.94947 3.31397C7.93396 3.33114 7.91845 3.34775 7.90239 3.36326C7.88633 3.37932 7.86971 3.39538 7.8531 3.41034C7.83593 3.42585 7.81876 3.4408 7.80104 3.4552C7.76614 3.48345 7.72959 3.51058 7.69193 3.53551C7.65427 3.56043 7.61494 3.58369 7.57507 3.60529C7.53574 3.62634 7.4942 3.64572 7.45267 3.66289C7.41113 3.68006 7.36848 3.69557 7.32528 3.70886C7.28208 3.7216 7.23777 3.73323 7.19402 3.74209C7.14916 3.75095 7.1043 3.7576 7.05944 3.76203C7.03673 3.76425 7.01402 3.76591 6.99131 3.76702C6.96861 3.76868 6.9459 3.76923 6.92319 3.76923C6.90048 3.76923 6.87777 3.76868 6.85507 3.76702C6.83236 3.76591 6.80965 3.76425 6.78694 3.76203C6.74208 3.7576 6.69722 3.75095 6.65236 3.74209C6.6086 3.73323 6.5643 3.7216 6.5211 3.70886C6.4779 3.69557 6.43525 3.68006 6.39371 3.66289C6.35217 3.64572 6.31064 3.62634 6.27076 3.60529C6.23144 3.58369 6.19211 3.56043 6.15445 3.53551C6.11679 3.51058 6.08024 3.48345 6.04534 3.4552C6.02762 3.4408 6.01045 3.42585 5.99384 3.41034C5.97667 3.39538 5.96005 3.37932 5.94399 3.36326C5.92793 3.34775 5.91242 3.33114 5.89691 3.31397C5.88196 3.29735 5.867 3.28018 5.8526 3.26246C5.82436 3.22757 5.79722 3.19046 5.77174 3.1528C5.74682 3.11569 5.72356 3.07637 5.70251 3.03649C5.68147 2.99662 5.66208 2.95563 5.64491 2.91409C5.62719 2.87255 5.61224 2.82935 5.59894 2.78671C5.58565 2.74351 5.57457 2.6992 5.56571 2.65489ZM22.1538 5.15385H29.0769C32.8946 5.15385 36 8.25926 36 12.0769V23.1538C36 26.9715 32.8946 30.0769 29.0769 30.0769H26.0308V32.8462C26.0308 33.611 25.411 34.2308 24.6462 34.2308C23.8813 34.2308 23.2615 33.611 23.2615 32.8462V30.0769H12.7385V32.8462C12.7385 33.611 12.1187 34.2308 11.3538 34.2308C10.589 34.2308 9.96923 33.611 9.96923 32.8462V30.0769H6.92308C3.10542 30.0769 0 26.9715 0 23.1538V12.0769C0 8.25926 3.10542 5.15385 6.92308 5.15385H10.5602H19.3846C19.3846 4.39009 18.7638 3.76923 18 3.76923H11.0769C10.3121 3.76923 9.69231 3.14948 9.69231 2.38462C9.69231 1.61975 10.3121 1 11.0769 1H18C20.2902 1 22.1538 2.86369 22.1538 5.15385ZM29.0769 27.3077C31.3671 27.3077 33.2308 25.444 33.2308 23.1538V12.0769C33.2308 9.78677 31.3671 7.92308 29.0769 7.92308H22.1538H10.5602H6.92308C4.63292 7.92308 2.76923 9.78677 2.76923 12.0769V23.1538C2.76923 25.444 4.63292 27.3077 6.92308 27.3077H29.0769ZM26.7268 12.1602H22.5658C21.8009 12.1602 21.1812 12.7799 21.1812 13.5448C21.1812 14.3096 21.8009 14.9294 22.5658 14.9294H26.7268C27.4917 14.9294 28.1114 14.3096 28.1114 13.5448C28.1114 12.7799 27.4917 12.1602 26.7268 12.1602ZM9.2728 12.1602H13.4338C14.1987 12.1602 14.8185 12.7799 14.8185 13.5448C14.8185 14.3096 14.1987 14.9294 13.4338 14.9294H9.2728C8.50794 14.9294 7.88818 14.3096 7.88818 13.5448C7.88818 12.7799 8.50794 12.1602 9.2728 12.1602ZM26.7268 16.3901H22.5658C21.8009 16.3901 21.1812 17.0099 21.1812 17.7748C21.1812 18.5396 21.8009 19.1594 22.5658 19.1594H26.7268C27.4917 19.1594 28.1114 18.5396 28.1114 17.7748C28.1114 17.0099 27.4917 16.3901 26.7268 16.3901ZM22.5658 20.644H26.7268C27.4917 20.644 28.1114 21.2638 28.1114 22.0287C28.1114 22.7935 27.4917 23.4133 26.7268 23.4133H22.5658C21.8009 23.4133 21.1812 22.7935 21.1812 22.0287C21.1812 21.2638 21.8009 20.644 22.5658 20.644ZM13.4338 16.3901H9.2728C8.50794 16.3901 7.88818 17.0099 7.88818 17.7748C7.88818 18.5396 8.50794 19.1594 9.2728 19.1594H13.4338C14.1987 19.1594 14.8185 18.5396 14.8185 17.7748C14.8185 17.0099 14.1987 16.3901 13.4338 16.3901ZM9.2728 20.644H13.4338C14.1987 20.644 14.8185 21.2638 14.8185 22.0287C14.8185 22.7935 14.1987 23.4133 13.4338 23.4133H9.2728C8.50794 23.4133 7.88818 22.7935 7.88818 22.0287C7.88818 21.2638 8.50794 20.644 9.2728 20.644Z" fill="#3A82FF"/>
        </svg>
    </a>
    <div class="nav-menu">
        <button id="menu-button" class="nav-menu-button primary-color">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path id="menu-icon" class="menu-icon" fill-rule="evenodd" clip-rule="evenodd" d="M29.1429 10.7143H10.2857C9.77143 10.7143 9.42857 10.3714 9.42857 9.85714C9.42857 9.34286 9.77143 9 10.2857 9H29.1429C29.6571 9 30 9.34286 30 9.85714C30 10.3714 29.6571 10.7143 29.1429 10.7143ZM6.85714 16.7143H29.1429C29.6571 16.7143 30 17.0571 30 17.5714C30 18.0857 29.6571 18.4286 29.1429 18.4286H6.85714C6.34286 18.4286 6 18.0857 6 17.5714C6 17.0571 6.34286 16.7143 6.85714 16.7143ZM29.1429 24.4286H6.85714C6.34286 24.4286 6 24.7714 6 25.2857C6 25.8 6.34286 26.1429 6.85714 26.1429H29.1429C29.6571 26.1429 30 25.8 30 25.2857C30 24.7714 29.6571 24.4286 29.1429 24.4286ZM6.85714 10.7143C7.33053 10.7143 7.71429 10.3306 7.71429 9.85717C7.71429 9.38379 7.33053 9.00003 6.85714 9.00003C6.38376 9.00003 6 9.38379 6 9.85717C6 10.3306 6.38376 10.7143 6.85714 10.7143Z" fill="white"/>
            </svg>                
        </button>
        <div id="open-menu" class="open-menu gary-color">
            <div class="menu-button-block"></div>
            <div class="page-links">
                <a id="home-link" class="nav-menu-link light-gray-text-color">
                    HOME
                    <div id="home-underline" class="link-underline light-gray-color"></div>
                </a>
                <a id="about-link" class="nav-menu-link light-gray-text-color">
                    ABOUT
                    <div id="about-underline" class="link-underline light-gray-color"></div>
                </a>
            </div>
            <div class="social-links">
                <button id="nav-email"><img src={mailIcon.src} alt="" class="social-link"></button>
                <a target="_blank" href=""><img src={githubIcon.src} alt="" class="social-link"></a>
                <a target="_blank" href=""><img src={linkedinIcon.src} alt="" class="social-link"></a>
            </div>
        </div>
    </div>
</nav>


<script>
    const menuButton = document.getElementById('menu-button');
    const navMenu = document.getElementById('open-menu');
    const menuIcon = document.getElementById('menu-icon');
    const homeLink = document.getElementById('home-link');
    const logoLink = document.getElementById('logo-link');
    const homeUnderline = document.getElementById('home-underline');
    const aboutLink = document.getElementById('about-link');
    const aboutUnderline = document.getElementById('about-underline');

    // Menu Toggle
    function toggleMenu(): void{
        const styleCheck = navMenu.style.opacity;
        if(styleCheck == '1'){
            return closeMenu();
        }
        return openMenu();
    };

    function closeMenu(){
        navMenu.style.opacity = '0';
        navMenu.style.transform = 'scale(.8)';
        menuButton.style.backgroundColor = 'rgba(58, 130, 255, 1)';
        menuIcon.style.fill= 'rgba(237, 244, 255, 1)';
    };

    function openMenu(){
        navMenu.style.opacity = '1';
        navMenu.style.transform = 'scale(1)';
        menuButton.style.backgroundColor = 'rgba(237, 244, 255, 1)';
        menuIcon.style.fill= 'rgba(38, 40, 45, 1)';
    };

    menuButton.addEventListener('click', toggleMenu);

    // Underline Hover Animation
    homeLink.addEventListener('mouseover', () =>{
        homeUnderline.style.transform = 'scaleX(1)';
    });

    homeLink.addEventListener('mouseout', () =>{
        homeUnderline.style.transform = 'scaleX(0)';
    });

    homeLink.addEventListener('click', () => {
        location.href = '/';
    })

    logoLink.addEventListener('click', () => {
        location.href = '/';
    })

    aboutLink.addEventListener('mouseover', () =>{
        aboutUnderline.style.transform = 'scaleX(1)';
    });

    aboutLink.addEventListener('mouseout', () =>{
        aboutUnderline.style.transform = 'scaleX(0)';
    });

    aboutLink.addEventListener('click', () => {
        location.href = '/about';
    })

    const emailButton = document.getElementById('nav-email');
    const successMessage = document.getElementById('copied-success')
    const failedMessage = document.getElementById('copy-failed');

        function copyEmail() {
            navigator.clipboard.writeText("changjeremy0226@gmail.com").then(() => {
                console.log('Content copied to clipboard');
                successMessage.style.opacity = "1";
                setTimeout(() => {
                    successMessage.style.opacity = "0";
                }, 5000);
                /* Resolved - text copied to clipboard successfully */
            },() => {
                console.error('Failed to copy');
                failedMessage.style.opacity = "1";
                setTimeout(() => {
                    failedMessage.style.opacity = "0";
                }, 5000);
                /* Rejected - text failed to copy to the clipboard */
            });
        }

        emailButton.addEventListener('click', copyEmail);
</script>