.about-header{
    padding: 240px 0px 0px 0px;
    margin-bottom: 200px;
}

.about-log-text-group{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.about-log-text{
    display: flex;
    flex-direction: column;
}

.about-log-text{
    .section-body:nth-child(1){
        opacity: .5;
    }
    .section-body:nth-child(2){
        opacity: .3;
    }
    .section-body:nth-child(3){
        opacity: .2;
    }
    .section-body:nth-child(4){
        opacity: .1;
    }
    .section-body:nth-child(5){
        opacity: .05;
    }
}

.grad-portfolio, .three-js{
    height: 720px;
    background-size: 110%;
    background-position: center;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: end;
    transition: all 1s ease;
}

.grad-portfolio{
    background-image: url(../assets/about/graduation-portfolio.jpg);
}

.grad-portfolio:hover{
    background-size: 120%;
}

.three-js{
    height: 800px;
    background-image: url(../assets/about/three-js.jpg);
}

.three-js:hover{
    background-size: 120%;
}

.project-label{
    padding: 4px 16px;
    opacity: 0;
    transition: opacity 1s ease;
}

.grad-portfolio:hover > .project-label{
    opacity: 1;
}

.three-js:hover > .project-label{
    opacity: 1;
}


.project-links-container{
    display: flex;
    gap: 16px;
}

.project-link{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s ease;
}

.grad-portfolio:hover > .project-links-container > .project-link{
    opacity: 1;
}

.three-js:hover > .project-links-container > .project-link{
    opacity: 1;
}

.project-link:hover{
    transform: scale(1.2);
}

.hero-text-button{
    text-align: left;
}

// Responsive
@media screen and (max-width: 1280px){
    .grad-portfolio, .three-js{
        height: 400px;
        padding: 32px;
    }
}

@media screen and (max-width: 1024px){
    .about-header{
        margin-bottom: 160px;
    }
    .about-hero-image{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .about-log-text-group{
        flex-direction: row;
    }
    .grad-portfolio, .three-js{
        height: 320px;
        padding: 32px;
    }
    .project-label{
        opacity: 1;
    }
    .project-link{
        opacity: 1;
    }
}

@media screen and (max-width: 768px){
    .grad-portfolio, .three-js{
        padding: 16px;
        height: 320px;
        flex-direction: column;
        align-items: start;
        
    }
    .project-label{
        padding: 4px 8px;
        margin-right: 8px;
    }
    .project-links-container{
        gap: 8px;
    }
    .project-link{
        padding: 0px;
    }
}