.nav-text{
    width: 100%;
    margin: 52px 0px 96px 0px;
    display: flex;
}

.nav-text-blocker{
    width: 50%;
    height: auto;
}

.nav-text-group{
    width: 50%;
    display: flex;
    gap: 160px;
}

.nav-text-title{
    width: 280px;
}

.nav-body-group{
    padding-top: 8px;
}

.nav-body-group > .midnight-text-color:nth-child(1){
    opacity:.5;
}

.nav-body-group > .midnight-text-color:nth-child(2){
    opacity:.3;
}

.nav-body-group > .midnight-text-color:nth-child(3){
    opacity:.2;
}

.nav-body-group > .midnight-text-color:nth-child(4){
    opacity:.1;
}

.header-container{
    display: flex;
    flex-direction: column;
}

.page-header{
    margin-bottom: 100px;
}


.log-tiles{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}

.log-tile{
    width: 100%;
    height: 600px;
    border-radius: 40px;
    display: flex;
    align-items: end;
    position: relative;
    opacity: 1;
    transition: all 1s ease;
}

.log-tiles:has(.over:hover) .log-tile:not(.over:hover){
    opacity: 0.1;
    filter: blur(4px);
}

.log-tile:hover{
    opacity: 1;
}

.log-tile:hover > .thumb-image-cover{
    transform: scale(1.1);
}

.log-label{
    padding: 4px 16px;
    margin: 40px;
    opacity: 0;
    transition: opacity 1s ease;
}

.log-tile:hover > .log-label{
    opacity: 1;
}

.log-tiles-dark{
    display: flex;
    flex-direction: column;
}

.log-tile-dark{
    padding: 40px 0px;
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
}

.log-separator{
    width: 100%;
    height: 1px;
    min-height: 1px;
}

.log-tile-dark:hover{
    transform: translateX(72px);
}

.log-tiles-dark:has(.over:hover) .log-tile-dark:not(.over:hover){
    opacity: 0.1;
    filter: blur(4px);
}

.log-tile-dark:hover > .thumb-image-hover{
    opacity: .5;
    transform: scale(1);
}

// Responsive
// Responsive
@media screen and (max-width: 1280px){
    .nav-text-blocker{
        width: 40%;
    }
    .nav-text-group{
        width: 60;
        gap: 80px;
    }
    .nav-text-title{
        width: auto;
    }
    .nav-log-logo{
        width: 300px;
    }
    .log-tiles{
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .log-tile{
        height: 360px;
    }
    .log-label{
        margin: 32px;
    }
    .log-tile-dark{
        padding: 32px 0px;
    }
}

@media screen and (max-width: 1024px){
    .nav-text-blocker{
        width: 30%;
    }
    .nav-log-logo{
        width: 200px;
    }
    .log-tiles{
        gap: 16px;
    }
    .log-tile-dark:hover{
        transform: translateX(48px);
    }
    .log-label{
        margin: 24px;
    }
}

@media screen and (max-width: 768px){
    .nav-text{
        opacity: 0;
        margin: 52px 0px 36px 0px;
    }
    .log-tiles{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
    .page-header{
        margin-bottom: 48px;
    }
    .log-tile{
        width: 100%;
        height: 240px;
    }
    .log-tile-dark{
        padding: 24px 0px;
    }
    .log-tile-dark:hover{
        transform: translateX(24px);
    }
    .log-label{
        padding: 4px 8px;
        margin: 16px;
    }
    .log-tile-dark{
        padding: 24px 0px;
    }
}

@media screen and (max-width: 420px){
    .log-tiles{
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
    }
    .log-tile{
        height: 200px;
    }
    .log-tile-dark{
        padding: 56px 0px;
    }
    .log-label{
        opacity: 1;
    }
}