nav.light-mode{
    width: 100%;
    min-width:100%;
    padding: 44px 60px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

nav.dark-mode{
    width: 100%;
    min-width:100%;
    padding: 44px 60px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.circle-accent{
    width: 720px;
    height: 720px;
    position: absolute;
    z-index: -100;
    top: -200px;
    right: -200px;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgba(167, 199, 255, 1);
    z-index: -1;
    transition: all .5s ease;
}

.back-button{
    width:400px;
    height: 400px;
    position: absolute;
    z-index: 1001;
    top: -100px;
    left: -100px;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgba(167, 199, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transition: all 1s ease;
}

.back-arrow{
    width: 48px;
    height: auto;
    transition: all .5s ease;
}

.back-button:hover{
    width: 200px;
    height: 200px;
    transform: translate(120px, 120px);
    background-color: rgba(167, 199, 255, 1);
}

.back-arrow-fill{
    fill: rgba(108, 118, 144, 1);
}

.light-mode{
    .nav-logo{
        transition: all .5s ease;
    }
    
    .nav-logo:hover{
        transform: scale(1.2) rotate(10deg);
    }
    
    .nav-menu-button{
        width: 60px;
        height: 60px;
        border-radius: 20px;
        transition: all .5s ease;
    }
    
    .nav-menu-button:hover{
        transform: scale(1.2);
    }
    
    .menu-icon{
        fill: rgba(237, 244, 255, 1);
        transition: all .5s ease;
    }
    
    .open-menu{
        padding: 36px 32px;
        border-radius: 20px;
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: -1;
        display: flex;
        flex-direction: column;
        gap: 32px;
        opacity: 0;
        transform-origin: 50% 20%;
        transform: scale(.8);
        transition: all .5s ease;
    }
    
    .menu-button-block{
        height: 80px;
    }
    
    .page-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .nav-menu-link{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    .link-underline{
        width: 100%;
        height: 1px;
        transform-origin: left;
        transform: scaleX(0);
        transition: all .5s ease;
    }
    
    .social-links{
        display: flex;
        gap: 16px;
    }
    
    .social-link{
        opacity: .5;
        transition: all .5s ease;
    }
    
    .social-link:hover{
        opacity: 1;
    }
}

// Footer
footer{
    width: 100%;
    padding: 60px;
    background-color: rgba(58, 130, 255, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.footer-logo{
    display: flex;
    gap: 16px;
}

.footer-logo-title{
    color: rgba(255, 255, 255, 1);
    line-height: 2.5rem;
}

.logo-accent > .footer-logo-title:nth-child(2){
    opacity: .5;
}

.logo-accent > .footer-logo-title:nth-child(3){
    opacity: .25;
}

.logo-accent > .footer-logo-title:nth-child(4){
    opacity: .1;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-link{
    color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: end;
    gap: 4px;
    padding: 0;
}

.copy-right > .body{
    color: rgba(167, 199, 255, 1);
}

.link-underline{
    width: 100%;
    height: 2px;
    background-color: rgba(237, 244, 255, 1);
    transform-origin: left;
    transform: scaleX(0);
    transition: all .5s ease;
}

// 404 Styling
.not-found-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.not-found-title{
    width: 100%;
}

.not-found-description{
    width: 400px;
    margin: 24px 0px 100px 0px;
}

.not-found-button{
    padding: 24px 36px;
    border-radius: 20px;
    transition: all .5s ease;
}

.not-found-button:hover{
    transform: scale(1.1);
}

// Responsive
@media screen and (max-width: 1280px){
    .circle-accent{
        width: 600px;
        height: 600px;
        top: -200px;
        right: -200px;
    }
    .back-button{
        width: 320px;
        height: 320px;
        top: -80px;
        left: -80px;
    }
    .back-button:hover{
        width: 160px;
        height: 160px;
        transform: translate(80px, 80px);
    }
    .not-found-description{
        width: 240px;
    }
}
@media screen and (max-width: 1024px){
    nav.light-mode{
        padding: 36px 36px;
    }
    nav.dark-mode{
        padding: 36px 36px;
    }
    .light-mode{
        .social-links{
            gap: 8px;
        }
        .menu-button-block{
            height: 60px;
        }    
        .open-menu{
            transform-origin: 70% 20%;
        }
    }
    .circle-accent{
        width: 480px;
        height: 480px;
        top: -200px;
        right: -200px;
    }
    footer{
        padding: 36px;
    }
    .contact-container{
        gap: 0px;
    }
    .footer-link{
        gap: 0px;
    }
}

@media screen and (max-width: 768px){
    nav.light-mode{
        padding: 24px 24px;
    }
    nav.dark-mode{
        padding: 24px 24px;
    }
    .light-mode{
        .social-links{
            gap: 8px;
        }
        .menu-button-block{
            height: 48px;
        }    
    }
    .circle-accent{
        width: 320px;
        height: 320px;
        top: -80px;
        right: -80px;
    }
    .back-button{
        width: 200px;
        height: 200px;
        top: -60px;
        left: -60px;
    }
    .back-arrow{
        width: 24px;
        height: auto;
    }
    .back-button:hover{
        width: 100px;
        height: 100px;
        transform: translate(60px, 60px);
    }
    footer{
        padding: 24px;
    }
}