@import './navigation';
@import './landing.scss';
@import './about.scss';
@import './log.scss';

// font imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

$primary: rgba(58, 130, 255, 1);
$accent:rgba(167, 199, 255, 1);
$midnight:rgba(38, 40, 45, 1);
$gray:rgba(108, 118, 144, 1);
$light-gray:rgba(237, 244, 255, 1);

*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    cursor: none;
}

.container-body{
    width: 100%;
    min-width: 100%;
    background-color: $light-gray;
    transition: background-color 0.5s ease;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    cursor: none;
}

a{
    text-decoration: none;
    cursor: none;
}

.section-container{
    width: 100%;
    margin-bottom: 200px;
}

.image{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

.icon{
    width: 36px;
    height: auto;
}

.image-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb-image-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    transition: all 1s ease;
}

.thumb-image-hover{
    width: 500px;
    height: 600px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: -80%;
    z-index: -5;
    opacity: 0;
    transform: scale(1.2);
    transition: all 1s ease;
    pointer-events: none;
}

.rounded-40{
    border-radius: 40px;
    overflow: hidden;
}

.rounded-20{
    border-radius: 20px;
    overflow: hidden;
}

.rounded-full{
    border-radius: 100px;
    overflow: hidden;
}

.mb-36{
    margin-bottom: 36px;
}

// Column System
.col-system, .inner-col-system{
    display: flex;
    gap: 36px;
    justify-content: space-between;
}

.col-system{
    margin-bottom: 200px;
}

.inner-col-system{
    margin-bottom: 36px;
}

.col-30{
    width: 30%;
}

.col-70{
    width: 70%;
}

.col-60{
    width: 60%;
}

.col-50{
    width: 50%;
}

.mode-switcher{
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    gap: 4px;
    z-index: 500;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(38, 40, 45, .24);
}

.mode-button{
    width: 100px;
    height: 48px;
    border-radius: 16px;
    color: rgba(38, 40, 45, 1);
    transition: all .5s ease;
}

.mode-button:hover{
    background-color: $accent;
}

.mode-switcher > .active{
    background-color: rgba(38, 40, 45, 1);
    color: rgba(237, 244, 255, 1);
}

// Colors
.light-mode{
    padding: 0px 60px;
    opacity: 1;
    transition: opacity 0.5s ease;
    .primary-text-color{
        color: $primary;
    }
    
    .accent-text-color{
        color: $accent;
    }
    
    .midnight-text-color{
        color: $midnight;
    }
    
    .gary-text-color{
        color: $gray;
    }
    
    .light-gray-text-color{
        color: $light-gray;
    }
    
    // Background Color
    .primary-color{
        background-color: $primary;
    }
    
    .accent-color{
        background-color: $accent;
    }
    
    .midnight-color{
        background-color: $midnight;
    }
    
    .gary-color{
        background-color: $gray;
    }
    
    .light-gray-color{
        background-color: $light-gray;
    }
}

.dark-mode{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0px 60px;
    opacity: 0;
    transition: opacity 0.5s ease;
    .primary-text-color{
        color: $primary;
    }
    
    .accent-text-color{
        color: $accent;
    }
    
    .midnight-text-color{
        color: $light-gray;
    }
    
    .gary-text-color{
        color: $gray;
    }
    
    .light-gray-text-color{
        color: $midnight;
    }
    
    // Background Color
    .primary-color{
        background-color: $primary;
    }
    
    .accent-color{
        background-color: $accent;
    }
    
    .midnight-color{
        background-color: $light-gray;
    }
    
    .gary-color{
        background-color: $gray;
    }
    
    .light-gray-color{
        background-color: $midnight;
    }
}

// Typography
.hero-title, .not-found-title{
    font-size: 14rem;
    font-weight: 700;
    line-height: 13rem;
    width: 880px;
}

.hero-body{
    font-size: 10rem;
    font-weight: 700;
    line-height: 10.5rem;
    width: 80%;
}

.project-list-title{
    font-size: 7.5rem;
    font-weight: 300;
}

.section-title{
    font-size: 4rem;
    font-weight: 700;
}

.section-body{
    font-size: 4rem;
    font-weight: 300;
}

.project-description{
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.5rem;
}

.about-body{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.about-body-light{
    font-size: 2rem;
    font-weight: 400;
}

.project-title{
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 700;
}

.project-tag{
    font-size: 1.5rem;
    font-weight: 400;
}

.body-title{
    font-size: 1rem;
    font-weight: 700;
}

.body{
    font-size: 1rem;
    font-weight: 400;
}

.letter{
    transition: all .5s ease;
}

.letter:hover{
    filter: blur(10px);
}

.content-hidden-right{
    opacity: 0;
    transform: translateX(100px);
    transition: all .5s ease;
}

.content-show-right{
    opacity: 1;
    transform: translateX(0px);
}

.content-hidden-left{
    opacity: 0;
    transform: translateX(-100px);
    transition: all .5s ease;
}

.content-show-left{
    opacity: 1;
    transform: translateX(0px);
}

.footer-hidden{
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease;
}

.footer-show{
    opacity: 1;
    transform: translateY(0px);
}

.content-hidden{
    opacity: 0;
    transform: translateX(-100px);
    transition: all .5s ease;
}

.content-show{
    opacity: 1;
    transform: translateX(0px);
}

// Scroll Bar
/*width*/
::-webkit-scrollbar {
    width:0px;
}

/*track*/
::-webkit-scrollbar-track {
    background:rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
    background:rgb(19, 21, 22);
    border-radius:100px;
}
    
body .transition {display: block}
.w-editor .transition {display: none;}
.no-scroll-transition {overflow: hidden; position: relative;}

// Responsive
@media screen and (max-width: 1280px) {
    .hero-title{
        font-size: 10rem;
        line-height: 8rem;
        width: 50%;
    }
    .not-found-title{
        font-size: 10rem;
        line-height: 8rem;
    }
    .project-list-title{
        font-size: 6.5rem;
    }
    .thumb-image-hover{
        width: 400px;
        height: 500px;
    }
    .col-system, .inner-col-system{
        gap: 24px;
    }
    .inner-col-system{
        margin-bottom: 24px;
    }
    .hero-body{
        font-size: 8rem;
        line-height: 8rem;
        width: 100%;
    }
    .about-body{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section-title{
        font-size: 2rem;
    }
    .section-body{
        font-size: 2rem;
    }
    .mb-36{
        margin-bottom: 24px;
    }
    .project-title{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .project-description{
        font-size: 2rem;
        line-height: 2rem;
    }
    .body{
        font-size: .8rem;
    }
}

@media screen and (max-width: 1024px){
    .light-mode{
        padding: 0px 36px;
    }
    .dark-mode{
        padding: 0px 36px;
    }
    .hero-title{
        font-size: 8rem;
        line-height: 7rem;
    }
    .not-found-title{
        font-size: 8rem;
        line-height: 7rem;
    }
    .project-list-title{
        font-size: 5.5rem;
    }
    .body-title{
        font-size: .8rem;
    }
    .body{
        font-size: .8rem;
    }
    .hero-body{
        font-size: 6rem;
        line-height: 6rem;
    }
    .about-body{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .about-body-light{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .section-container{
        margin-bottom: 100px;
    }
    .col-system{
        margin-bottom: 100px;
    }
    .col-50{
        width: 60%;
    }
    .col-60{
        width: 100%;
    }
    .col-70{
        width: 100%;
    }
    .image-cover{
        height: 400px;
    }
    .thumb-image-hover{
        left: 30%;
        top: -100%;
    }
    .mb-36{
        margin-bottom: 16px;
    }
    .project-description{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 768px){
    .light-mode{
        padding: 0px 24px;
    }
    .dark-mode{
        padding: 0px 24px;
    }
    .hero-body{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .col-system, .inner-col-system{
        flex-direction: column;
    }
    .col-50{
        width: 100%;
    }
    .col-30{
        width: 100%;
    }
    .hero-title{
        font-size: 5rem;
        line-height: 5rem;
        width: 50%;
    }
    .not-found-title{
        font-size: 5rem;
        line-height: 5rem;
    }
    .project-list-title{
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    .thumb-image-hover{
        width: 300px;
        height: 400px;
        left: 16%;
        top: -50%;
    }
    .rounded-40{
        border-radius: 20px;
    }
    .mb-36{
        margin-bottom: 8px;
    }
    .image{
        border-radius: 20px;
    }
    .mode-switcher{
        padding: 4px;
    }
    .mode-button{
        width: 80px;
        height: 36px;
    }
}

@media screen and (max-width: 420px){
    .about-body-light{
        font-size: 1rem;
        line-height: 1.2rem;
    }
}