@import './navigation';
@import './landing.scss';

// font imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(237, 244, 255, 1);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

a{
    text-decoration: none;
}

.container{
    padding: 0px 60px;
}

// Typography
.hero-title{
    font-size: 14rem;
    font-weight: 700;
    line-height: 13rem;
    width: 880px;
}

.project-list-title{
    font-size: 8rem;
    font-weight: 300;
}

.section-title{
    font-size: 6rem;
    font-weight: 700;
}

.section-body{
    font-size: 6rem;
    font-weight: 300;
}

.project-description{
    font-size: 3rem;
    font-weight: 300;
}

.about-body{
    font-size: 2rem;
    font-weight: 700;
}

.about-body-light{
    font-size: 2rem;
    font-weight: 400;
}

.project-title{
    font-size: 1.5rem;
    font-weight: 700;
}

.project-tag{
    font-size: 1.5rem;
    font-weight: 400;
}

.body-title{
    font-size: 1rem;
    font-weight: 700;
}

.body{
    font-size: 1rem;
    font-weight: 400;
}