@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
nav {
  width: 100%;
  min-width: 100%;
  padding: 44px 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.circle-accent {
  width: 720px;
  height: 720px;
  position: absolute;
  z-index: -100;
  top: -240px;
  right: -240px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgb(167, 199, 255);
}

.light-mode-nav .nav-logo {
  transition: all 0.5s ease;
}
.light-mode-nav .nav-logo:hover {
  transform: scale(1.2) rotate(10deg);
}
.light-mode-nav .nav-menu-button {
  width: 60px;
  height: 60px;
  background-color: rgb(38, 40, 45);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.light-mode-nav .nav-menu-button:hover {
  transform: scale(1.2);
}
.light-mode-nav .menu-icon {
  fill: rgb(237, 244, 255);
  transition: all 0.5s ease;
}
.light-mode-nav .open-menu {
  background-color: rgb(38, 40, 45);
  padding: 36px 32px;
  border-radius: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  transform-origin: 50% 20%;
  transform: scale(0.8);
  transition: all 0.5s ease;
}
.light-mode-nav .menu-button-block {
  height: 80px;
}
.light-mode-nav .page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.light-mode-nav .nav-menu-link {
  color: rgb(237, 244, 255);
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.light-mode-nav .link-underline {
  width: 100%;
  height: 1px;
  background-color: rgb(237, 244, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}
.light-mode-nav .social-links {
  display: flex;
  gap: 16px;
}
.light-mode-nav .social-link {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.light-mode-nav .social-link:hover {
  opacity: 1;
}

footer {
  width: 100%;
  padding: 60px;
  background-color: rgb(58, 130, 255);
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  gap: 16px;
}

.footer-logo-title {
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
}

.logo-accent > .footer-logo-title:nth-child(2) {
  opacity: 0.5;
}

.logo-accent > .footer-logo-title:nth-child(3) {
  opacity: 0.25;
}

.logo-accent > .footer-logo-title:nth-child(4) {
  opacity: 0.1;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  gap: 4px;
  padding: 0;
}

.copy-right > .body {
  color: rgb(167, 199, 255);
}

.link-underline {
  width: 100%;
  height: 2px;
  background-color: rgb(237, 244, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 244, 255);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

.hero-title {
  font-size: 14rem;
  font-weight: 700;
}

.project-list-title {
  font-size: 8rem;
  font-weight: 300;
}

.section-title {
  font-size: 6rem;
  font-weight: 700;
}

.section-body {
  font-size: 6rem;
  font-weight: 300;
}

.project-description {
  font-size: 3rem;
  font-weight: 300;
}

.about-body {
  font-size: 2rem;
  font-weight: 700;
}

.about-body-light {
  font-size: 2rem;
  font-weight: 400;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-tag {
  font-size: 1.5rem;
  font-weight: 400;
}

.body-title {
  font-size: 1rem;
  font-weight: 700;
}

.body {
  font-size: 1rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */