@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
nav.light-mode {
  width: 100%;
  min-width: 100%;
  padding: 44px 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav.dark-mode {
  width: 100%;
  min-width: 100%;
  padding: 44px 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.circle-accent {
  width: 720px;
  height: 720px;
  position: absolute;
  z-index: -100;
  top: -200px;
  right: -200px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgb(167, 199, 255);
  z-index: -1;
  transition: all 0.5s ease;
}

.back-button {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: 1001;
  top: -100px;
  left: -100px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgb(167, 199, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: all 1s ease;
}

.back-arrow {
  width: 48px;
  height: auto;
  transition: all 0.5s ease;
}

.back-button:hover {
  width: 200px;
  height: 200px;
  transform: translate(120px, 120px);
  background-color: rgb(167, 199, 255);
}

.back-arrow-fill {
  fill: rgb(108, 118, 144);
}

.light-mode .nav-logo {
  transition: all 0.5s ease;
}
.light-mode .nav-logo:hover {
  transform: scale(1.2) rotate(10deg);
}
.light-mode .nav-menu-button {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.light-mode .nav-menu-button:hover {
  transform: scale(1.2);
}
.light-mode .menu-icon {
  fill: rgb(237, 244, 255);
  transition: all 0.5s ease;
}
.light-mode .open-menu {
  padding: 36px 32px;
  border-radius: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  transform-origin: 50% 20%;
  transform: scale(0.8);
  transition: all 0.5s ease;
}
.light-mode .menu-button-block {
  height: 80px;
}
.light-mode .page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.light-mode .nav-menu-link {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.light-mode .link-underline {
  width: 100%;
  height: 1px;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}
.light-mode .social-links {
  display: flex;
  gap: 16px;
}
.light-mode .social-link {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.light-mode .social-link:hover {
  opacity: 1;
}

footer {
  width: 100%;
  padding: 60px;
  background-color: rgb(58, 130, 255);
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer-logo {
  display: flex;
  gap: 16px;
}

.footer-logo-title {
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
}

.logo-accent > .footer-logo-title:nth-child(2) {
  opacity: 0.5;
}

.logo-accent > .footer-logo-title:nth-child(3) {
  opacity: 0.25;
}

.logo-accent > .footer-logo-title:nth-child(4) {
  opacity: 0.1;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  gap: 4px;
  padding: 0;
}

.copy-right > .body {
  color: rgb(167, 199, 255);
}

.link-underline {
  width: 100%;
  height: 2px;
  background-color: rgb(237, 244, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

.not-found-container {
  width: 100%;
  padding: 240px 0px 0px 0px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.not-found-description {
  width: 400px;
  margin: 24px 0px 100px 0px;
}

.not-found-button {
  padding: 24px 36px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.not-found-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  .circle-accent {
    width: 600px;
    height: 600px;
    top: -200px;
    right: -200px;
  }
  .back-button {
    width: 320px;
    height: 320px;
    top: -80px;
    left: -80px;
  }
  .back-button:hover {
    width: 160px;
    height: 160px;
    transform: translate(80px, 80px);
  }
}
@media screen and (max-width: 1024px) {
  nav.light-mode {
    padding: 36px 36px;
  }
  nav.dark-mode {
    padding: 36px 36px;
  }
  .light-mode .social-links {
    gap: 8px;
  }
  .light-mode .menu-button-block {
    height: 60px;
  }
  .light-mode .open-menu {
    transform-origin: 70% 20%;
  }
  .circle-accent {
    width: 480px;
    height: 480px;
    top: -200px;
    right: -200px;
  }
}
@media screen and (max-width: 768px) {
  nav.light-mode {
    padding: 24px 24px;
  }
  nav.dark-mode {
    padding: 24px 24px;
  }
  .light-mode .social-links {
    gap: 8px;
  }
  .light-mode .menu-button-block {
    height: 48px;
  }
  .circle-accent {
    width: 320px;
    height: 320px;
    top: -80px;
    right: -80px;
  }
  .back-button {
    width: 200px;
    height: 200px;
    top: -60px;
    left: -60px;
  }
  .back-arrow {
    width: 24px;
    height: auto;
  }
  .back-button:hover {
    width: 100px;
    height: 100px;
    transform: translate(60px, 60px);
  }
}
.nav-text {
  width: 100%;
  margin: 52px 0px 96px 0px;
  display: flex;
}

.nav-text-blocker {
  width: 50%;
  height: auto;
}

.nav-text-group {
  width: 50%;
  display: flex;
  gap: 160px;
}

.nav-text-title {
  width: 280px;
}

.nav-body-group {
  padding-top: 8px;
}

.nav-body-group > .midnight-text-color:nth-child(1) {
  opacity: 0.5;
}

.nav-body-group > .midnight-text-color:nth-child(2) {
  opacity: 0.3;
}

.nav-body-group > .midnight-text-color:nth-child(3) {
  opacity: 0.2;
}

.nav-body-group > .midnight-text-color:nth-child(4) {
  opacity: 0.1;
}

.page-header {
  margin-bottom: 100px;
}

.log-tiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.log-tile {
  width: 100%;
  height: 600px;
  border-radius: 40px;
  display: flex;
  align-items: end;
  position: relative;
  opacity: 1;
  transition: all 1s ease;
}

.log-tiles:has(.over:hover) .log-tile:not(.over:hover) {
  opacity: 0.1;
  filter: blur(4px);
}

.log-tile:hover {
  opacity: 1;
}

.log-tile:hover > .thumb-image-cover {
  transform: scale(1.1);
}

.log-label {
  padding: 4px 16px;
  margin: 40px;
  opacity: 0;
  transition: opacity 1s ease;
}

.log-tile:hover > .log-label {
  opacity: 1;
}

.log-tiles-dark {
  display: flex;
  flex-direction: column;
}

.log-tile-dark {
  padding: 40px 0px;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
}

.log-separator {
  width: 100%;
  height: 1px;
  min-height: 1px;
}

.log-tile-dark:hover {
  transform: translateX(72px);
}

.log-tiles-dark:has(.over:hover) .log-tile-dark:not(.over:hover) {
  opacity: 0.1;
  filter: blur(4px);
}

.log-tile-dark:hover > .thumb-image-hover {
  opacity: 0.5;
  transform: scale(1);
}

@media screen and (max-width: 1280px) {
  .nav-text-blocker {
    width: 40%;
  }
  .nav-text-group {
    width: 60;
    gap: 80px;
  }
  .nav-text-title {
    width: auto;
  }
  .nav-log-logo {
    width: 300px;
  }
  .log-tiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .log-tile {
    height: 360px;
  }
  .log-label {
    margin: 32px;
  }
  .log-tile-dark {
    padding: 32px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .nav-text-blocker {
    width: 30%;
  }
  .nav-log-logo {
    width: 200px;
  }
  .log-tiles {
    gap: 16px;
  }
  .log-tile-dark:hover {
    transform: translateX(48px);
  }
  .log-label {
    margin: 24px;
  }
}
@media screen and (max-width: 768px) {
  .nav-text {
    opacity: 0;
    margin: 52px 0px 36px 0px;
  }
  .log-tiles {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .page-header {
    margin-bottom: 48px;
  }
  .log-tile {
    width: 100%;
    height: 240px;
  }
  .log-tile-dark {
    padding: 24px 0px;
  }
  .log-tile-dark:hover {
    transform: translateX(24px);
  }
  .log-label {
    padding: 4px 8px;
    margin: 16px;
  }
  .log-tile-dark {
    padding: 24px 0px;
  }
}
@media screen and (max-width: 420px) {
  .log-tiles {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .log-tile {
    height: 200px;
  }
  .log-tile-dark {
    padding: 56px 0px;
  }
  .log-label {
    opacity: 1;
  }
}
.about-header {
  padding: 240px 0px 0px 0px;
  margin-bottom: 200px;
}

.about-log-text-group {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.about-log-text {
  display: flex;
  flex-direction: column;
}

.about-log-text .section-body:nth-child(1) {
  opacity: 0.5;
}
.about-log-text .section-body:nth-child(2) {
  opacity: 0.3;
}
.about-log-text .section-body:nth-child(3) {
  opacity: 0.2;
}
.about-log-text .section-body:nth-child(4) {
  opacity: 0.1;
}
.about-log-text .section-body:nth-child(5) {
  opacity: 0.05;
}

.grad-portfolio, .three-js {
  height: 720px;
  background-size: 110%;
  background-position: center;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: end;
  transition: all 1s ease;
}

.grad-portfolio {
  background-image: url(../assets/about/graduation-portfolio.jpg);
}

.grad-portfolio:hover {
  background-size: 120%;
}

.three-js {
  height: 800px;
  background-image: url(../assets/about/three-js.jpg);
}

.three-js:hover {
  background-size: 120%;
}

.project-label {
  padding: 4px 16px;
  opacity: 0;
  transition: opacity 1s ease;
}

.grad-portfolio:hover > .project-label {
  opacity: 1;
}

.three-js:hover > .project-label {
  opacity: 1;
}

.project-links-container {
  display: flex;
  gap: 16px;
}

.project-link {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s ease;
}

.grad-portfolio:hover > .project-links-container > .project-link {
  opacity: 1;
}

.three-js:hover > .project-links-container > .project-link {
  opacity: 1;
}

.project-link:hover {
  transform: scale(1.2);
}

.hero-text-button {
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .grad-portfolio, .three-js {
    height: 400px;
    padding: 32px;
  }
}
@media screen and (max-width: 1024px) {
  .about-header {
    margin-bottom: 160px;
  }
  .about-hero-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .about-log-text-group {
    flex-direction: row;
  }
  .grad-portfolio, .three-js {
    height: 320px;
    padding: 32px;
  }
  .project-label {
    opacity: 1;
  }
  .project-link {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .grad-portfolio, .three-js {
    padding: 16px;
    height: 320px;
    flex-direction: column;
    align-items: start;
  }
  .project-label {
    padding: 4px 8px;
    margin-right: 8px;
  }
  .project-links-container {
    gap: 8px;
  }
  .project-link {
    padding: 0px;
  }
}
.log-container {
  padding: 0px 60px;
}

.log-header {
  width: 100%;
  padding: 100px 148px 0px 148px;
  display: flex;
  margin-bottom: 200px;
}

.log-text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 180px;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}

.log-text-containter, .log-detail-container, .log-title-container, .log-image-container {
  display: flex;
  flex-direction: column;
}

.log-text-containter {
  gap: 160px;
}

.log-detail-container {
  gap: 60px;
}

.log-title-container {
  gap: 8px;
}

.log-image-container {
  gap: 36px;
}

.log-image {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

@media screen and (max-width: 1280px) {
  .log-header {
    padding: 200px 36px 0px 36px;
  }
  .log-text-header {
    padding-right: 80px;
  }
  .thumbnail-image {
    height: 400px;
  }
  .log-text-containter {
    gap: 100px;
  }
  .log-detail-container {
    gap: 36px;
  }
  .log-title-container {
    gap: 8px;
  }
  .log-image-container {
    gap: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .log-text-header {
    padding-right: 48px;
  }
  .log-text-containter {
    gap: 72px;
  }
  .log-detail-container {
    gap: 24px;
  }
  .log-title-container {
    gap: 8px;
  }
  .log-image-container {
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .log-header {
    flex-direction: column-reverse;
    gap: 24px;
    padding: 160px 8px 0px 8px;
    margin-bottom: 60px;
  }
  .thumbnail-image {
    height: 320px;
    border-radius: 20px;
  }
  .log-text-header {
    padding-right: 0px;
  }
  .log-text-containter {
    gap: 48px;
  }
  .log-detail-container {
    gap: 16px;
  }
  .log-title-container {
    gap: 8px;
  }
  .log-image-container {
    gap: 16px;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  cursor: none;
}

.container-body {
  width: 100%;
  min-width: 100%;
  background-color: rgb(237, 244, 255);
  transition: background-color 0.5s ease;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  cursor: none;
}

a {
  text-decoration: none;
  cursor: none;
}

.section-container {
  width: 100%;
  margin-bottom: 200px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.icon {
  width: 36px;
  height: auto;
}

.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumb-image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  transition: all 1s ease;
}

.thumb-image-hover {
  width: 500px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: -80%;
  z-index: -5;
  opacity: 0;
  transform: scale(1.2);
  transition: all 1s ease;
  pointer-events: none;
}

.rounded-40 {
  border-radius: 40px;
  overflow: hidden;
}

.rounded-20 {
  border-radius: 20px;
  overflow: hidden;
}

.rounded-full {
  border-radius: 100px;
  overflow: hidden;
}

.mb-36 {
  margin-bottom: 36px;
}

.col-system, .inner-col-system {
  display: flex;
  gap: 36px;
  justify-content: space-between;
}

.col-system {
  margin-bottom: 200px;
}

.inner-col-system {
  margin-bottom: 36px;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.mode-switcher {
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 4px;
  z-index: 500;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(38, 40, 45, 0.24);
}

.mode-button {
  width: 100px;
  height: 48px;
  border-radius: 16px;
  color: rgb(38, 40, 45);
  transition: all 0.5s ease;
}

.mode-button:hover {
  background-color: rgb(167, 199, 255);
}

.mode-switcher > .active {
  background-color: rgb(38, 40, 45);
  color: rgb(237, 244, 255);
}

.light-mode {
  padding: 0px 60px;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.light-mode .primary-text-color {
  color: rgb(58, 130, 255);
}
.light-mode .accent-text-color {
  color: rgb(167, 199, 255);
}
.light-mode .midnight-text-color {
  color: rgb(38, 40, 45);
}
.light-mode .gary-text-color {
  color: rgb(108, 118, 144);
}
.light-mode .light-gray-text-color {
  color: rgb(237, 244, 255);
}
.light-mode .primary-color {
  background-color: rgb(58, 130, 255);
}
.light-mode .accent-color {
  background-color: rgb(167, 199, 255);
}
.light-mode .midnight-color {
  background-color: rgb(38, 40, 45);
}
.light-mode .gary-color {
  background-color: rgb(108, 118, 144);
}
.light-mode .light-gray-color {
  background-color: rgb(237, 244, 255);
}

.dark-mode {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px 60px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.dark-mode .primary-text-color {
  color: rgb(58, 130, 255);
}
.dark-mode .accent-text-color {
  color: rgb(167, 199, 255);
}
.dark-mode .midnight-text-color {
  color: rgb(237, 244, 255);
}
.dark-mode .gary-text-color {
  color: rgb(108, 118, 144);
}
.dark-mode .light-gray-text-color {
  color: rgb(38, 40, 45);
}
.dark-mode .primary-color {
  background-color: rgb(58, 130, 255);
}
.dark-mode .accent-color {
  background-color: rgb(167, 199, 255);
}
.dark-mode .midnight-color {
  background-color: rgb(237, 244, 255);
}
.dark-mode .gary-color {
  background-color: rgb(108, 118, 144);
}
.dark-mode .light-gray-color {
  background-color: rgb(38, 40, 45);
}

.hero-title {
  font-size: 14rem;
  font-weight: 700;
  line-height: 13rem;
  width: 880px;
}

.hero-body {
  font-size: 10rem;
  font-weight: 700;
  line-height: 10.5rem;
  width: 80%;
}

.project-list-title {
  font-size: 7.5rem;
  font-weight: 300;
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
}

.section-body {
  font-size: 4rem;
  font-weight: 300;
}

.project-description {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.about-body {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.about-body-light {
  font-size: 2rem;
  font-weight: 400;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-tag {
  font-size: 1.5rem;
  font-weight: 400;
}

.body-title {
  font-size: 1rem;
  font-weight: 700;
}

.body {
  font-size: 1rem;
  font-weight: 400;
}

.letter {
  transition: all 0.5s ease;
}

.letter:hover {
  filter: blur(10px);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .hero-title {
    font-size: 10rem;
    line-height: 8rem;
    width: 50%;
  }
  .project-list-title {
    font-size: 6.5rem;
  }
  .thumb-image-hover {
    width: 400px;
    height: 500px;
  }
  .col-system, .inner-col-system {
    gap: 24px;
  }
  .inner-col-system {
    margin-bottom: 24px;
  }
  .hero-body {
    font-size: 8rem;
    line-height: 8rem;
    width: 100%;
  }
  .about-body {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  .section-body {
    font-size: 2rem;
  }
  .mb-36 {
    margin-bottom: 24px;
  }
  .project-title {
    font-size: 1rem;
  }
  .project-description {
    font-size: 2rem;
    line-height: 2rem;
  }
  .body {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1024px) {
  .light-mode {
    padding: 0px 36px;
  }
  .dark-mode {
    padding: 0px 36px;
  }
  .hero-title {
    font-size: 8rem;
    line-height: 7rem;
  }
  .project-list-title {
    font-size: 5.5rem;
  }
  .body-title {
    font-size: 0.8rem;
  }
  .body {
    font-size: 0.8rem;
  }
  .hero-body {
    font-size: 6rem;
    line-height: 6rem;
  }
  .about-body {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
  .section-container {
    margin-bottom: 100px;
  }
  .col-system {
    margin-bottom: 100px;
  }
  .col-50 {
    width: 60%;
  }
  .col-60 {
    width: 100%;
  }
  .col-70 {
    width: 100%;
  }
  .image-cover {
    height: 400px;
  }
  .thumb-image-hover {
    left: 30%;
    top: -100%;
  }
  .mb-36 {
    margin-bottom: 16px;
  }
  .project-description {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .light-mode {
    padding: 0px 24px;
  }
  .dark-mode {
    padding: 0px 24px;
  }
  .hero-body {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .col-system, .inner-col-system {
    flex-direction: column;
  }
  .col-50 {
    width: 100%;
  }
  .col-30 {
    width: 100%;
  }
  .hero-title {
    font-size: 5rem;
    line-height: 5rem;
    width: 50%;
  }
  .project-list-title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .thumb-image-hover {
    width: 300px;
    height: 400px;
    left: 16%;
    top: -50%;
  }
  .rounded-40 {
    border-radius: 20px;
  }
  .mb-36 {
    margin-bottom: 8px;
  }
  .image {
    border-radius: 20px;
  }
  .mode-switcher {
    padding: 4px;
  }
  .mode-button {
    width: 80px;
    height: 36px;
  }
}/*# sourceMappingURL=style.css.map */