@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");
nav {
  width: 100%;
  min-width: 100%;
  padding: 44px 60px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.circle-accent {
  width: 720px;
  height: 720px;
  position: absolute;
  z-index: -100;
  top: -240px;
  right: -240px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgb(167, 199, 255);
  z-index: -1;
}

.back-button {
  width: 600px;
  height: 600px;
  position: absolute;
  z-index: 1001;
  top: -200px;
  left: -200px;
  border-radius: 100%;
  border: 1px solid;
  border-color: rgb(167, 199, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transition: all 1s ease;
}

.back-button:hover {
  width: 320px;
  height: 320px;
  transform: translate(140px, 140px);
  background-color: rgb(167, 199, 255);
}

.light-mode-nav .nav-logo {
  transition: all 0.5s ease;
}
.light-mode-nav .nav-logo:hover {
  transform: scale(1.2) rotate(10deg);
}
.light-mode-nav .nav-menu-button {
  width: 60px;
  height: 60px;
  background-color: rgb(38, 40, 45);
  border-radius: 20px;
  transition: all 0.5s ease;
}
.light-mode-nav .nav-menu-button:hover {
  transform: scale(1.2);
}
.light-mode-nav .menu-icon {
  fill: rgb(237, 244, 255);
  transition: all 0.5s ease;
}
.light-mode-nav .open-menu {
  background-color: rgb(38, 40, 45);
  padding: 36px 32px;
  border-radius: 20px;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  opacity: 0;
  transform-origin: 50% 20%;
  transform: scale(0.8);
  transition: all 0.5s ease;
}
.light-mode-nav .menu-button-block {
  height: 80px;
}
.light-mode-nav .page-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.light-mode-nav .nav-menu-link {
  color: rgb(237, 244, 255);
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.light-mode-nav .link-underline {
  width: 100%;
  height: 1px;
  background-color: rgb(237, 244, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}
.light-mode-nav .social-links {
  display: flex;
  gap: 16px;
}
.light-mode-nav .social-link {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.light-mode-nav .social-link:hover {
  opacity: 1;
}

footer {
  width: 100%;
  padding: 60px;
  background-color: rgb(58, 130, 255);
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.footer-logo {
  display: flex;
  gap: 16px;
}

.footer-logo-title {
  color: rgb(255, 255, 255);
  line-height: 2.5rem;
}

.logo-accent > .footer-logo-title:nth-child(2) {
  opacity: 0.5;
}

.logo-accent > .footer-logo-title:nth-child(3) {
  opacity: 0.25;
}

.logo-accent > .footer-logo-title:nth-child(4) {
  opacity: 0.1;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-link {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
  gap: 4px;
  padding: 0;
}

.copy-right > .body {
  color: rgb(167, 199, 255);
}

.link-underline {
  width: 100%;
  height: 2px;
  background-color: rgb(237, 244, 255);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.5s ease;
}

.nav-text {
  width: 100%;
  margin: 60px 0px 96px 0px;
  display: flex;
}

.nav-text-blocker {
  width: 50%;
  height: auto;
}

.nav-text-group {
  width: 50%;
  display: flex;
  gap: 160px;
}

.nav-text-title {
  color: rgb(38, 40, 45);
  width: 280px;
}

.nav-body-group {
  padding-top: 8px;
}

.nav-text-body {
  color: rgb(38, 40, 45);
}

.nav-body-group > .nav-text-body:nth-child(1) {
  opacity: 0.5;
}

.nav-body-group > .nav-text-body:nth-child(2) {
  opacity: 0.3;
}

.nav-body-group > .nav-text-body:nth-child(3) {
  opacity: 0.2;
}

.nav-body-group > .nav-text-body:nth-child(4) {
  opacity: 0.1;
}

.page-header {
  color: rgb(38, 40, 45);
  margin-bottom: 100px;
}

.log-tiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}

.log-tile {
  width: 100%;
  height: 600px;
  border-radius: 40px;
  display: flex;
  align-items: end;
  position: relative;
}

.log-label {
  padding: 4px 16px;
  margin: 40px;
}

.about-header {
  padding: 240px 0px 0px 0px;
  margin-bottom: 200px;
}

.about-log-text-group {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.about-log-text {
  display: flex;
  flex-direction: column;
}

.about-log-text .section-body:nth-child(1) {
  opacity: 0.5;
}
.about-log-text .section-body:nth-child(2) {
  opacity: 0.3;
}
.about-log-text .section-body:nth-child(3) {
  opacity: 0.2;
}
.about-log-text .section-body:nth-child(4) {
  opacity: 0.1;
}
.about-log-text .section-body:nth-child(5) {
  opacity: 0.05;
}

.grad-portfolio {
  height: 800px;
  background-image: url(../assets/about/graduation-portfolio.jpg);
  background-size: 110%;
  background-position: center;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: end;
  transition: all 1s ease;
}

.grad-portfolio:hover {
  background-size: 120%;
}

.three-js {
  height: 800px;
  background-image: url(../assets/about/three-js.jpg);
  background-size: 110%;
  background-position: center;
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: end;
  transition: all 1s ease;
}

.three-js:hover {
  background-size: 120%;
}

.project-label {
  padding: 4px 16px;
}

.project-links-container {
  display: flex;
  gap: 16px;
}

.project-link {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.project-link:hover {
  transform: scale(1.2);
}

.hero-text-button {
  text-align: left;
}

.log-header {
  width: 100%;
  padding: 100px 148px 0px 148px;
  display: flex;
  margin-bottom: 200px;
}

.log-text-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 180px;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  border-radius: 40px;
  overflow: hidden;
}

.log-text-containter, .log-detail-container, .log-title-container, .log-image-container {
  display: flex;
  flex-direction: column;
}

.log-text-containter {
  gap: 160px;
}

.log-detail-container {
  gap: 60px;
}

.log-title-container {
  gap: 8px;
}

.log-image-container {
  gap: 36px;
}

.log-image {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 244, 255);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 60px;
}

.section-container {
  width: 100%;
  margin-bottom: 200px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 40px;
}

.icon {
  width: 36px;
  height: auto;
}

.image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumb-image-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: -1;
  transition: all 1s ease;
}

.rounded-40 {
  border-radius: 40px;
  overflow: hidden;
}

.rounded-20 {
  border-radius: 20px;
  overflow: hidden;
}

.rounded-full {
  border-radius: 100px;
  overflow: hidden;
}

.mb-36 {
  margin-bottom: 36px;
}

.col-system, .inner-col-system {
  display: flex;
  gap: 36px;
  justify-content: space-between;
}

.col-system {
  margin-bottom: 200px;
}

.inner-col-system {
  margin-bottom: 36px;
}

.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.primary-text-color {
  color: rgb(58, 130, 255);
}

.accent-text-color {
  color: rgb(167, 199, 255);
}

.midnight-text-color {
  color: rgb(38, 40, 45);
}

.gary-text-color {
  color: rgb(108, 118, 144);
}

.light-gray-text-color {
  color: rgb(237, 244, 255);
}

.primary-color {
  background-color: rgb(58, 130, 255);
}

.accent-color {
  background-color: rgb(167, 199, 255);
}

.midnight-color {
  background-color: rgb(38, 40, 45);
}

.gary-color {
  background-color: rgb(108, 118, 144);
}

.light-gray-color {
  background-color: rgb(237, 244, 255);
}

.hero-title {
  font-size: 14rem;
  font-weight: 700;
  line-height: 13rem;
  width: 880px;
}

.hero-body {
  font-size: 10rem;
  font-weight: 700;
  line-height: 10.5rem;
  width: 80%;
}

.project-list-title {
  font-size: 8rem;
  font-weight: 300;
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
}

.section-body {
  font-size: 4rem;
  font-weight: 300;
}

.project-description {
  font-size: 3rem;
  font-weight: 300;
  line-height: 3.5rem;
}

.about-body {
  font-size: 2rem;
  font-weight: 700;
}

.about-body-light {
  font-size: 2rem;
  font-weight: 400;
}

.project-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.project-tag {
  font-size: 1.5rem;
  font-weight: 400;
}

.body-title {
  font-size: 1rem;
  font-weight: 700;
}

.body {
  font-size: 1rem;
  font-weight: 400;
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}/*# sourceMappingURL=style.css.map */