---
import '../styles/reset.css'
import '../styles/style.css'
import Navbar from '../components/logNavbar.astro';
import Footer from '../components/Footer.astro';
import Cursor from '../components/Cursor.astro';
import ThemeSwitch from '../components/themeSwitch.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<a class="back-button" href="/" class="logo">
			<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g clip-path="url(#clip0_218_48)">
					<path class="back-arrow-fill" fill-rule="evenodd" clip-rule="evenodd" d="M0.599996 25.4263L17.5999 42.4438C18.3998 43.2447 19.5998 43.2447 20.3998 42.4438C21.1998 41.643 21.1998 40.4418 20.3998 39.641L6.79994 26.0269L38.9997 26.0269C40.1997 26.0269 40.9997 25.2261 40.9997 24.0248C40.9997 22.8236 40.1997 22.0228 38.9997 22.0228L6.79994 22.0228L25.3998 3.40351C26.1998 2.60269 26.1998 1.40144 25.3998 0.600617C24.9998 0.200203 24.3998 4.77594e-08 23.9998 0C23.5998 -4.77739e-08 22.9998 0.200203 22.5998 0.600616L0.599997 22.6234C-0.199999 23.4242 -0.199999 24.6254 0.599996 25.4263ZM23.9997 44.0457C23.3997 44.0457 22.9997 44.2459 22.5997 44.6463C22.1997 45.0467 21.9997 45.4472 21.9997 46.0478C21.9997 46.6484 22.1997 47.0488 22.5997 47.4492C22.7997 47.6494 22.9997 47.8496 23.1997 47.8496C23.5997 48.0498 24.1997 48.0498 24.7997 47.8496C24.8997 47.7495 24.9997 47.6995 25.0997 47.6494C25.1997 47.5994 25.2997 47.5493 25.3997 47.4492C25.7997 47.0488 25.9997 46.6484 25.9997 46.0478C25.9997 45.4472 25.7997 45.0467 25.3997 44.6463C24.9997 44.2459 24.5997 44.0457 23.9997 44.0457ZM44.2994 25.0263C44.2494 24.9762 44.1994 24.9262 44.1994 24.8261C44.1994 24.726 44.1494 24.6759 44.0994 24.6259C44.0494 24.5758 43.9994 24.5258 43.9994 24.4257V24.0253C43.9994 23.4246 44.1994 23.0242 44.5994 22.6238C44.6994 22.5237 44.7994 22.4737 44.8994 22.4236C44.9994 22.3736 45.0994 22.3235 45.1994 22.2234C45.3994 22.0232 45.7994 22.0232 45.9994 22.0232C46.5994 22.0232 46.9994 22.2234 47.3994 22.6238C47.7994 23.0242 47.9994 23.4246 47.9994 24.0253V24.4257C47.8844 24.5408 47.8355 24.5897 47.8148 24.6486C47.7994 24.6921 47.7994 24.741 47.7994 24.8261C47.7994 24.9262 47.7494 24.9762 47.6994 25.0263C47.6494 25.0763 47.5994 25.1264 47.5994 25.2265L47.3994 25.4267C46.7994 26.0273 45.9994 26.2275 45.3994 25.8271C45.2994 25.8271 45.2494 25.7771 45.1994 25.727C45.1494 25.677 45.0994 25.6269 44.9994 25.6269C44.7994 25.6269 44.5994 25.4267 44.5994 25.4267C44.5994 25.4267 44.3994 25.4267 44.3994 25.2265C44.3994 25.1264 44.3494 25.0763 44.2994 25.0263Z" fill="#181B1E"/>
				</g>
			</svg>				
		</a>
		<Navbar />
        <Cursor />
		<ThemeSwitch />
        <div id="element" class="container-body">
            <slot />
            <Footer />
        </body>
        </div>
</html>

<script>
	import luxy from 'luxy.js'
	
	luxy.init({
		wrapper: '#element',
	});
</script>