---
import Layout from '../layouts/Layout.astro';
import '../styles/style.css'

---

<Layout title="IKAMOlog">
	<main>
		<div class="light-mode-home">
			<h1 class="hero-title">Select Moment</h1>
		</div>
	</main>
</Layout>