---
import Layout from '../layouts/Layout.astro';
import '../styles/style.css'

import { getAllPosts } from '../sanity/api.js';
import { urlForImage} from '../sanity/urlForImage.js';

const posts = await getAllPosts();
---

<Layout title="IKAMOlog">
	<main class="container">

		<div class="light-mode-home">
			<div class="nav-text">
				<div class="nav-text-blocker"></div>
				<div class="nav-text-group">
					<p class="nav-text-title body-title">A place to document and revisit all aspect of my life.</p>
					<div class="nav-log-logo">
						<p class="nav-text-title body-title">Personal log.</p>
						<div class="nav-body-group">
							<p class="nav-text-body body">design</p>
							<p class="nav-text-body body">travel</p>
							<p class="nav-text-body body">workspace</p>
							<p class="nav-text-body body">milestone</p>
						</div>
					</div>
				</div>
			</div>

			<h1 class="page-header hero-title">Select moment.</h1>

			<ul class="log-tiles">
				{posts.map(post => (
					<a href={`/logs/${post.slug.current}`} class="log-tile rounded-40">
						<img src={urlForImage(post.thumbnailImage).url()} alt="" class="thumb-image-cover">
						<div class="log-label body midnight-text-color light-gray-color rounded-full">{post.title}</div>
					</a>
				))}
			</ul>
		</div>

	</main>
</Layout>